{
    "plugins": ["node"],
  
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "env": {
      "node": true
    },
    "rules": {
      "strict": "off",
      "no-console": "off"
    }
  }
  